 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Yu Gothic";
	panose-1:2 11 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Aptos;}
@font-face
	{font-family:"Yu Gothic Light";
	panose-1:2 11 3 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Aptos Display";}
@font-face
	{font-family:"Book Antiqua";
	panose-1:2 4 6 2 5 3 5 3 3 4;}
@font-face
	{font-family:"\@Yu Gothic";
	panose-1:2 11 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\@Yu Gothic Light";}

 /* Style Definitions */
 body {
            background-color: rgb(1, 33, 4);
            background-image: url("bg.png");
            color: white;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16pt;
			padding: 5%;
			/*padding-top: 8%;*/
        }
		.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d2f599;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
}
.home-button:hover {
  background-color: #6f8251;
}
.navbar {
  position: fixed;
  text-align: center;
  padding-top: 1%;
  top: 0;       /* Use bottom: 0 for a footer bar */

  z-index: 999; /* Keeps it above other page content */
  background-color: black;
  /*width: 100vw;*/
  /*left: 0;*/
  bottom: 90%;
  left: 5%;
  right: 5%;

}
.box {
		background: black;
		left: -50vw;
		right: -50vw;
		z-index: -1;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 15%;
}

.page-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d0f750;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
}
.page-button:hover {
  background-color: #637724;
}
    h1 {
            color: yellow;
            background-color: black;
			z-index: 10;
        }
    h2 {
            color: rgb(211, 247, 81);
            opacity: 0.5;
        }
 p.MsoTitle, li.MsoTitle, div.MsoTitle
	{mso-style-link:"Title Char";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:center;
	font-size:24.0pt;
	font-family:"Aptos Display",sans-serif;
	color:#CCFF33;
	letter-spacing:-.5pt;}
p.MsoTitleCxSpFirst, li.MsoTitleCxSpFirst, div.MsoTitleCxSpFirst
	{mso-style-link:"Title Char";
	margin:0cm;
	text-align:center;
	font-size:20.0pt;
	font-family:"Aptos Display",sans-serif;
	color:#CCFF33;
	letter-spacing:-.5pt;}
p.MsoTitleCxSpMiddle, li.MsoTitleCxSpMiddle, div.MsoTitleCxSpMiddle
	{mso-style-link:"Title Char";
	margin:0cm;
	text-align:center;
	font-size:20.0pt;
	font-family:"Aptos Display",sans-serif;
	color:#CCFF33;
	letter-spacing:-.5pt;}
p.MsoTitleCxSpLast, li.MsoTitleCxSpLast, div.MsoTitleCxSpLast
	{mso-style-link:"Title Char";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:center;
	font-size:20.0pt;
	font-family:"Aptos Display",sans-serif;
	color:#CCFF33;
	letter-spacing:-.5pt;}
span.TitleChar
	{mso-style-name:"Title Char";
	mso-style-link:Title;
	font-family:"Aptos Display",sans-serif;
	color:#CCFF33;
	letter-spacing:-.5pt;}
p.firstline, li.firstline, div.firstline
	{mso-style-name:"first line";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:150%;
	font-size:16.0pt;
	font-family:"Aptos",sans-serif;
	color:white;}
p.album, li.album, div.album
	{mso-style-name:album;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:150%;
	font-size:20.0pt;
	font-family:"Book Antiqua",serif;
	color:#FFFFCC;
	font-weight:bold;}
p.maintext, li.maintext, div.maintext
	{mso-style-name:"main text";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:14.2pt;
	line-height:150%;
	font-size:16.0pt;
	font-family:"Aptos",sans-serif;
	color:white;}
p.a, li.a, div.a
	{mso-style-name:"* * *";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	text-align:center;
	line-height:150%;
	font-size:16.0pt;
	font-family:"Aptos",sans-serif;
	color:yellow;}
.MsoChpDefault
	{font-size:12.0pt;
	font-family:"Aptos",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:115%;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}